*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  
}

#div-center{
    background: url(./assets/image.svg);
    background-size: cover;
    flex-direction: column;
    display: flex;
    height: 100vh;
    width: 100vw;
    text-align: center;
  
}

#logo{
    width: 55%;
    margin: 90px auto 0 auto ;
}

#status-bar{
    width: 100%;
}
#skip{
 
   margin-left: 270px;
   font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 10px;
}

input{
    height: 50px;
    width: 80%;
    border-radius: 15px;
    border: none;
    background-color: #102234;
    opacity: 0.8;
    color: white;
    font-size: 17px;
    padding-left: 10px;
    margin: 90px auto 0 auto ;
 
}

#input-password{
    margin-top: 20px;
}
#button-submit{
    height: 40px;
    width: 80%;
    border: none;
    border-radius: 50px;
    background-color: #856FFA;
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, #645AFF 50%, #A573FF);
    margin: 20px auto 0 auto;
}
a{
    color: white;
    font-size: 12px;
}

#button-face{
    border-radius: 50px;
    height: 50px;
    width: 80%;
    border: none;
    background-color: #184a59;
    text-transform: uppercase;
    opacity: 1.5;
    margin: 20px auto 30px auto;
 
    
}
#logo-facebook{
    width: 10px;
    height: 20px;
}

p{
    margin-top: 15px;
}



#div-link{
  font-weight: 100;
    justify-content: space-between;
    width: 70%;
    flex-direction: row;
    margin-top: 40px;
    font-size: 12px;
    margin: 40px auto 0 auto;
    display: flex;
   
}

